@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* --- VARIABLES --- */

:root {
  --font-mobile: 2.5vw;
  --font-desktop: 24px;
  --background-color: #05292e;
  --div-color: #062226;
  --white: #FBFBFB;
}

/* --- RESET --- */

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: fit-content;
  width: fit-content;
  font-family: 'Lato', sans-serif;
  background-color: var(--background-color);
}
h1, h2, h3, h4, p, ul {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style: none;
  padding-left: 0;
}
button {
  border: none;
}
input {
  outline: none;
}